<div id="warmp_one">
<h1>Hello Biology<h1/>
	<div id="show_left">
		show photo
	</div>
	<div id="show_right">
		<h3>Personal Information</h3>
		<p>Date of Birth:<%= @biology.date_of_birth %></p>
        <p>Place of Birth:<%= @biology.place_of_birth %></p>
        <p>My Favorite:<%= @biology.favorite %></p>
        <p>My dream<%= @biology.dream %></p>
	</div>
</div>